@font-face {
  font-family: "minecraft";
  src: url(../font/minecraft.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "minecraft";
  background-color: rgba(189, 192, 1, 0.214);
}

.logo img {
  height: 20vh;
}

.startContainer {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  z-index: 13;
  display: grid;
  place-items: center;
  background: url(../images/startBackground.png) center center/cover no-repeat;
}
.startContainer #start {
  font-size: 1.5rem;
  padding: 0 8px;
  line-height: 2rem;
  color: white;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.386);
  background-color: gray;
  border: 1px solid black;
  box-shadow: inset 2px 2px #9a9a9a;
  font-family: "minecraft";
}
.startContainer #start:hover {
  cursor: pointer;
}

.gameContainer {
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(189, 192, 1, 0.214);
  display: flex;
  justify-content: center;
}
.gameContainer .ControlsPanel {
  place-self: flex-start;
  position: absolute;
  z-index: 12;
  min-height: 3.5rem;
  width: 90vh;
  background-color: rgba(0, 107, 160, 0.931);
  transition: all 0.5s ease-in;
  display: grid;
  place-items: center;
}
.gameContainer .ControlsPanel .Tools {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gameContainer .ControlsPanel .Tools .pickaxe {
  background: url(../images/pickaxe.png) center center/cover no-repeat;
}
.gameContainer .ControlsPanel .Tools .axe {
  background: url(../images/axe.png) center center/cover no-repeat;
}
.gameContainer .ControlsPanel .Tools .Tool {
  height: clamp(30px, 10vh, 50px);
  width: clamp(30px, 10vh, 50px);
  border: white 1px solid;
  cursor: pointer;
}
.gameContainer .ControlsPanel .Tools .shovel {
  background: url(../images/shovel.png) center center/contain no-repeat;
}
.gameContainer .gridBoard {
  z-index: 11;
  background-color: rgb(79, 176, 255);
  height: 100vmin;
  width: 100vmin;
}
.gameContainer .gridBoard {
  display: grid;
  grid-template: repeat(16, 6.25%)/repeat(16, 6.25%);
}

.grid-item {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.ground {
  background: url(../images/ground.jpg) center center/cover no-repeat;
  color: white;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.786);
}

.tree {
  background: url(../images/tree.png) center center/cover no-repeat;
  color: white;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.786);
}

.grass {
  background: url(../images/grass.png) center center/cover no-repeat;
  color: white;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.786);
}

.leaves {
  background: url(../images/tree-leaves.png) center center/cover no-repeat;
  color: white;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.786);
}

.rock {
  background: url(../images/rockR.png) center center/cover no-repeat;
  color: white;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.786);
}

.selected {
  border: 2px solid red !important;
}

.overlay {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.288);
}

.hidden {
  display: none;
}

.backpackOverlay {
  position: absolute;
  z-index: 14;
  background: #f4f67a;
  border-radius: 0.5rem;
  width: 55vmin;
  height: 30vmin;
  display: grid;
  grid-auto-flow: column;
  gap: 2vmin;
}
.backpackOverlay .grid-backpack {
  width: 30vmin;
  height: 20vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-self: center;
  cursor: pointer;
}
.backpackOverlay .avatar {
  place-self: center;
  background: url(../images/avatar.png) center center/cover no-repeat;
  width: 10vmin;
  height: 20vmin;
}
.backpackOverlay .close-btn {
  background: url(../images/closeBtn.png) center center/cover no-repeat;
  height: 4vmin;
  width: 4vmin;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  place-self: start end;
  cursor: pointer;
}

.reset {
  background: url(../images/Stone.webp);
  border: black 1px solid;
  box-shadow: inset 2px 2px #cccccc;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  font-size: calc(1rem - 0.5vh);
  color: white;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.386);
}
.reset:hover {
  box-shadow: -2px -2px #edeaea;
}

.inventory {
  display: grid;
  place-content: center;
  background: url(../images/Chest.webp) center center/cover no-repeat;
  color: white;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.386);
  font-size: calc(1rem - 0.8vh);
}

/*# sourceMappingURL=main.css.map */
